.product-image {
  width: 100%;
}

.modal-product-image {
  width: 100%;
  max-width: 500px; /* Increase the max-width for a larger image */
}

.clickable-card {
  cursor: pointer;
}

.uniform-card-body {
  height: 150px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.modal-lg .modal-dialog {
  max-width: 80%; /* Increase the modal size */
}

.modal-text-large {
  font-size: 1.2rem; /* Increase text size */
}

.modal-title-large {
  font-size: 1.5rem; /* Larger font size for the modal title */
}

.modal-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.modal-header,
.modal-body {
  border-radius: 8px;
}

/* Blurred background effect */
.modal-backdrop.show {
  backdrop-filter: blur(5px);
}
