<div class="main-menu">
  <button
    type="button"
    class="btn"
    routerLink="/dashboard"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['dashboard'] } }]"
  >
    <fa-icon [icon]="faChartLine" class="main-menu-icon"></fa-icon>
    &nbsp;Dashboard
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/suppliers"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['suppliers'] } }]"
  >
    <fa-icon [icon]="faBoxesPacking" class="main-menu-icon"></fa-icon>
    &nbsp;Suppliers
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/inventory"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['inventory'] } }]"
  >
    <fa-icon [icon]="faWarehouse" class="main-menu-icon"></fa-icon>
    &nbsp;Inventory
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/orders"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['orders'] } }]"
  >
    <fa-icon [icon]="faCartShopping" class="main-menu-icon"></fa-icon>
    &nbsp;Orders
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/shipment"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['shipment'] } }]"
  >
    <fa-icon [icon]="faTruckFast" class="main-menu-icon"></fa-icon>
    &nbsp;Shipment
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/sales"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['sales'] } }]"
  >
    <fa-icon [icon]="faCashRegister" class="main-menu-icon"></fa-icon>
    &nbsp;Sales
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/staff"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['staff'] } }]"
  >
    <fa-icon [icon]="faUsersRectangle" class="main-menu-icon"></fa-icon>
    &nbsp;Staff
  </button>
  <button
    type="button"
    class="btn"
    routerLink="/products"
    routerLinkActive="active"
    [routerLink]="[{ outlets: { 'main-content': ['products'] } }]"
  >
    <fa-icon [icon]="faBoxes" class="main-menu-icon"></fa-icon>
    &nbsp;Products
  </button>
</div>
