<div class="main-menu">
  <button type="button" class="btn">
    <fa-icon [icon]="faChartLine" class="main-menu-icon"></fa-icon>
    &nbsp;Dashboard
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faBoxesPacking" class="main-menu-icon"></fa-icon>
    &nbsp;Suppliers
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faWarehouse" class="main-menu-icon"></fa-icon>
    &nbsp;Inventory
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faCartShopping" class="main-menu-icon"></fa-icon>
    &nbsp;Orders
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faTruckFast" class="main-menu-icon"></fa-icon>
    &nbsp;Shipment
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faCashRegister" class="main-menu-icon"></fa-icon>
    &nbsp;Sales
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faUsersRectangle" class="main-menu-icon"></fa-icon>
    &nbsp;Staff
  </button>
  <button type="button" class="btn">
    <fa-icon [icon]="faBoxes" class="main-menu-icon"></fa-icon>
    &nbsp;Products
  </button>
</div>
