<div class="inventory-container">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>
          <div class="header-content">
            <span>Product Name</span>
            <fa-icon
              [icon]="getSortIcon('productName')"
              (click)="sort('productName')"
              class="me-2"
            ></fa-icon>
            <button
              type="button"
              class="btn btn-filter"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="faFilter"></fa-icon>
            </button>
            <ul class="dropdown-menu p-3 filter-dropdown">
              <div class="d-flex align-items-center">
                <input
                  type="text"
                  class="form-control mb-2"
                  placeholder="Search..."
                  (input)="onDropdownInputChange('productName', $event)"
                />
                <button
                  type="button"
                  class="btn btn-link p-0 ms-2"
                  (click)="clearFilters('productName')"
                >
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
              </div>
              <div *ngFor="let product of dropdownProducts">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="selectedProductNames[product.productName]"
                    (change)="
                      onCheckboxChange(
                        'productName',
                        product.productName,
                        $event
                      )
                    "
                  />
                  <label class="form-check-label">{{
                    product.productName
                  }}</label>
                </div>
              </div>
            </ul>
          </div>
        </th>
        <th>
          <div class="header-content">
            <span>Product Category</span>
            <fa-icon
              [icon]="getSortIcon('category')"
              (click)="sort('category')"
              class="me-2"
            ></fa-icon>
            <button
              type="button"
              class="btn btn-filter"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="faFilter"></fa-icon>
            </button>
            <ul class="dropdown-menu p-3 filter-dropdown">
              <div class="d-flex align-items-center">
                <input
                  type="text"
                  class="form-control mb-2"
                  placeholder="Search..."
                  (input)="onDropdownInputChange('category', $event)"
                />
                <button
                  type="button"
                  class="btn btn-link p-0 ms-2"
                  (click)="clearFilters('category')"
                >
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
              </div>
              <div *ngFor="let category of uniqueCategories">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="selectedCategories[category]"
                    (change)="onCheckboxChange('category', category, $event)"
                  />
                  <label class="form-check-label">{{ category }}</label>
                </div>
              </div>
            </ul>
          </div>
        </th>
        <th>
          <div class="header-content">
            <span>Stock</span>
            <fa-icon
              [icon]="getSortIcon('stockQuantity')"
              (click)="sort('stockQuantity')"
              class="me-2"
            ></fa-icon>
            <button
              type="button"
              class="btn btn-filter"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="faFilter"></fa-icon>
            </button>
            <ul class="dropdown-menu p-3 filter-dropdown">
              <label>
                Min:
                <input
                  type="number"
                  class="form-control mb-2"
                  placeholder="Min"
                  (input)="onStockInputChange('min', $event)"
                />
              </label>
              <label>
                Max:
                <input
                  type="number"
                  class="form-control mb-2"
                  placeholder="Max"
                  (input)="onStockInputChange('max', $event)"
                />
              </label>
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.productName }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stockQuantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
