.admin-card {
  background-color: #f8d7da; /* Light red */
}

.employee-card {
  background-color: #d1ecf1; /* Light blue */
}

.clickable-card {
  cursor: pointer;
}

.modal-text-large {
  display: flex;
  justify-content: space-between;
}

.modal-text-large p {
  margin: 0;
}
