<div id="titlebar" class="navbar titlebar">
  <a class="navbar-brand" href="">
    <img src="{{ brandLogoUrl }}" id="brandlogo" class="brandlogo" alt="" />
  </a>

  <div class="btn-group profile-button-container">
    <button
      type="button"
      class="btn btn-light rounded-circle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <fa-icon [icon]="faUser" class="profile-icon"></fa-icon>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <button class="dropdown-item profile-greeting" type="button" disabled>
          Hello, John!
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" type="button">
          <fa-icon [icon]="faIdCard" class="profile-menu-icon"></fa-icon>
          &nbsp;Profile
        </button>
      </li>
      <li>
        <button class="dropdown-item" type="button">
          <fa-icon
            [icon]="faRightFromBracket"
            class="profile-menu-icon"
          ></fa-icon>
          &nbsp;Sign Out
        </button>
      </li>
    </ul>
  </div>

  <!-- <div class="titlebar-right" *ngIf="!this.isLoggedIn">
          <button id="home-login-button" type="button" class="login-signup-buttons" routerLink="/login">Login</button>
          <button id="home-signup-button" type="button" class="login-signup-buttons" routerLink="/signup">SignUp</button>
        </div>
        <div class="titlebar-right" *ngIf="this.isLoggedIn">
          <span class="welcome-text">Welcome, {{this.name}}</span>
          <button *ngIf="this.role == 'Customer'" id="home-orders-button" type="button" class="login-signup-buttons"
            routerLink="/customers-order">Orders</button>
          <button id="home-logout-button" type="button" class="login-signup-buttons" routerLink="/login">Logout</button>
        </div> -->
</div>
